<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="../output.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container mx-auto py-10">
      <div>
        <img
          class="float-left mr-6 aspect-video w-2/5 rounded-lg object-cover outline -outline-offset-1 outline-black/10"
          src="./img/mountains.png"
        />
        <p class="text-justify">
            <span class="font-bold" >Con imagen con float-left mr-6</span>, en un <span class="font-bold">párrafo</span> con text-justify, si le ponemos <span class="font-bold">clear-left</span>, eliminaría el flotado de la imagen y el texto se pondría abajo. Y con float-none, en la imagen, se eliminaría el flotado, por ejemplo para XS.<hr class="border-gray-300 py-1" />Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur ab neque officiis illum, perspiciatis reiciendis sint optio ex saepe distinctio quo tempore. Quisquam facere numquam odit mollitia maxime minus quis!
            Similique reiciendis unde quos, laudantium at odio dolore esse. Magnam mollitia, adipisci velit quod natus consectetur quaerat magni deserunt quae esse, praesentium, at numquam temporibus! Sequi doloremque sapiente quisquam maiores.
            Laudantium qui facilis, ipsum praesentium cupiditate beatae. Voluptatem, sequi expedita. Sed quos enim voluptatem perferendis, ipsam officiis atque tempore nesciunt rem unde non, beatae animi ipsa est hic natus nulla.
          buddies.
        </p>
      </div>
    </div>
    <div class="container mx-auto py-10">
      <div>
        <img
          class="float-right ml-6 aspect-video w-2/5 rounded-lg object-cover outline -outline-offset-1 outline-black/10"
          src="./img/mountains.png"
        />
        <p class="text-justify">
            <span class="font-bold">Con imagen con float-right ml-6</span>, en un <span class="font-bold">párrafo</span>  con text-justify, si le ponemos <span class="font-bold">clear-right</span>, eliminaría el flotado de la imagen y el texto se pondría abajo. Y con float-none, en la imagen, se eliminaría el flotado, por ejemplo para XS.<hr class="border-gray-300 py-1" />Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur ab neque officiis illum, perspiciatis reiciendis sint optio ex saepe distinctio quo tempore. Quisquam facere numquam odit mollitia maxime minus quis!
            Similique reiciendis unde quos, laudantium at odio dolore esse. Magnam mollitia, adipisci velit quod natus consectetur quaerat magni deserunt quae esse, praesentium, at numquam temporibus! Sequi doloremque sapiente quisquam maiores.
            Laudantium qui facilis, ipsum praesentium cupiditate beatae. Voluptatem, sequi expedita. Sed quos enim voluptatem perferendis, ipsam officiis atque tempore nesciunt rem unde non, beatae animi ipsa est hic nulla.
          buddies.
        </p>
      </div>
    </div>
  </body>
</html>
